<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<nav th:fragment="navigation" th:object="${user}">

    <a href="/market">Home</a> |
    <a href="/login">Login</a> |
    <a href="/login/sign-up">Sign-up</a>
    <p th:if="${username}" th:text="hello"></p>
</nav>

<div id="map" th:fragment="map"></div>
<script th:fragment="mapscript" th:inline="javascript">
    var map;
    function initMap() {
        /*<[CDATA[*/
        var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 13
        });
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        /*[# th:each="business : ${businesses}"]*/
            var latLng = new google.maps.LatLng(/*[[${business.coordinates.latitude}]]*/, /*[[${business.coordinates.longitude}]]*/);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: /*[[${business.name}]]*/

            })
            marker.setTitle(/*[[${business.name}]]*/);




            marker.addListener('click', function() {
            infowindow.open(map, this);});




         /*   marker.setTitle(/!*[[${business.name}]]*!/);*/


        var contentString =' <div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+/*[[${business.name}]]*/+'</h1>';
        map.panTo(latLng)



        /*[/]*/

    /*]]>*/

    }

</script>
<script th:fragment="mapscript2" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV5mGg7-eDex1sG5eGw7bptkS4_aEJ_7o&amp;callback=initMap"
        async="defer"></script>
</body>
</html>