<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/market">Home</a> |
    <a href="/login">Login</a> |
</nav>
<div id="map" th:fragment="map"></div>
<script th:fragment="mapscript">
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
</script>
<script th:fragment="mapscript2" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV5mGg7-eDex1sG5eGw7bptkS4_aEJ_7o&amp;callback=initMap"
        async="defer"></script>
</body>
</html>