<!DOCTYPE html>
<html lang="en" xmlns:th="http://'www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

<form method="post" th:object="${user}">
    <div class="form-group">
        <label th:for="name">Username:</label>
        <input class="form-control" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"  th:errorclass="fieldError">Input is incorrect></span>

    </div>

    <div class="form-group">
        <label th:for="password">Password: </label>
        <input class="form-control" th:field="*{password}" />
        <span th:if="${#fields.hasErrors('password*')}" th:errors="*{password}" class="error"  th:errorclass="fieldError">Input is incorrect</span>

    </div>

    <input type="submit" value="Log in"/>

</form>



<h2>Under Construction</h2>
</body>
</html>